* {
    color: white;
    margin: 0px;
    padding: 0px;
    min-width: fit-content;
    min-height: fit-content;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 30px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    vertical-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav {
    background-color: rgba(0, 0, 0, 0.85);
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    gap: 15%;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
}

.cont p {
    margin: 10px;
    padding: 10px;
}

.cont p:nth-child(1) {
    font-size: 45px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.cont p:nth-child(2) {
    font-size: 200px;
    text-align: center;
    color: black;
}

.cont p {
    font-size: 20px;
    text-align: center;
    color: black;
}