* {
    color: white;
    margin: 0px;
    padding: 0px;
    min-width: fit-content;
    min-height: fit-content;
}

#header {
    background: rgba(255, 255, 255, 0.4);
    background-blend-mode: multiply;
    text-align: center;
    color: white;
    line-height: 49px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#info {
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 3px;
    font-family: cursive;
}

p {
    font-size: 30px;
    text-align: center;

}

#count {
    margin: 0px;
    font-size: 160px;
    padding-top: 90px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#container {
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 40px;
    margin: 12px;
    margin-top: 24px;
    display: block;
    margin: auto;
    margin-top: 50px;
    min-height: 500px;


}

#container:hover {
    background: rgba(255, 255, 255, 0.4);
    color: black;
    background-blend-mode: lighten;
    transform: scale(1.1);
    transition: 0.8s;
}

#container:hover #count {
    transform: scale(1.1);
    color: black;
    transition: 0.8s;
}

#container:hover #info {
    visibility: hidden;
}

#container:hover #header {
    transform: scale(0.9);
    transition: 0.8s;
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: color-burn;
}

#calendar {
    max-width: 300px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 300px;
}